<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489232324737-jkgn4jj7ulgvem5lq25v665k2hl514c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489232324737-jkgn4jj7ulgvem5lq25v665k2hl514c4</string>
	<key>API_KEY</key>
	<string>AIzaSyBplbixseyD7iYJC98C7C5lh6-g8H8TWoM</string>
	<key>GCM_SENDER_ID</key>
	<string>489232324737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuktra.mobile</string>
	<key>PROJECT_ID</key>
	<string>tukangtravel</string>
	<key>STORAGE_BUCKET</key>
	<string>tukangtravel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489232324737:ios:7c92449e2149d40bbe5580</string>
</dict>
</plist>